include ./header

body
    script(src="/scripts/vue.js")
    .container
        if !noItem
            .row
                .col-12
                    #app
                        template
                            .slider-container
                                span.leftArrow(v-show='leftArrow' @click='previous()') &lt;
                                .slider
                                    .images(@mousedown='mouseDown($event)' @mousemove='mouseMove($event)' @mouseup='mouseUp($event)' @touchstart="mouseDown($event, 'touched')" @touchmove="mouseMove($event, 'touched')" @touchend='mouseUp($event)')
                                        - let images = currentItem[0].images.split(',');
                                        - let i = 0;
                                        while i< images.length
                                            img(src=`/uploads/${images[i]}` alt='Image')
                                            - i++;
                                    
                                    img.pause(v-if='autoPlayed' @click='pause()' img='' src='https://i.ibb.co/ggMqJsr/pause.png' alt='pause' title='pause')
                                    img.autoplay(v-if='!autoPlayed' @click='autoPlay()' img='' src='https://i.ibb.co/ZH97nX0/play.png' alt='play' title='play')
                                span.rightArrow(v-show='rightArrow' @click='next()') &gt;
                                .circle
                                    // circle buttons added here by javascript dynamically
            .row
                .col-md-6
                    .info
                        div
                            p= 'Item name: '
                            p= currentItem[0].name
                        div
                            p= 'Category: '
                            p= category[0].name
                        div
                            p= 'Address: '
                            p= owner[0].address
                        div
                            p= 'Phone number: '
                            p= owner[0].phone
                        .desc
                            h6= 'Details: '
                            p(style='float: right; display: block; width: 100%')= currentItem[0].detail

                .col-md-6
                    .bid
                        .bid-container
                            #activeBorder.active-border
                                #circle.circle-bid
                                .circle-content
                                    p Current price: 
                                    p(style='font-weight: bold;')= currentPrice
                    if loggedInUser
                        .add-bid(style='width: 80%; margin: auto;')
                            h5 Add a bid
                            .form-inline
                                input.form-control(style='width: 80%' type='number' value=`${currentPrice}` min=`${currentPrice+1}`)
                                p(style='position: relative; top: 5px; left: 10px') $ USD
                            p.error(style='color: red; margin: 10px 0px')
                            button.form-control.btn.btn-primary(onclick='obj.sendBid()' style='margin-top: 10px') Add
            .row(style='margin: 30px 5px;')
                .col-md-6
                    .previous-bids
                        h5 Previous bids
                        .content
                            if previous_bids
                                for bid in previous_bids
                                    div
                                        p= bid.address
                                        h6= `${bid.price} ₹ `
                
                .col-md-6
                    if !loggedInUser
                        .signin(style='width: 80%; margin: auto; margin-top: 30px')
                            h5(style='text-align: center;') Sign in to add a bid
                            a.form-control.btn(href='/login' style='border: 1px solid silver; margin-bottom: 5px' ) Sign in
                            a.form-control.btn(href='/login' style='border: 1px solid silver;') + Sign up
                    else
                        a.btn-btn-secondery(href='/profile' style='display:block; text-align: center;') Profile

                audio(id="clockAudio" controls style="display: none;")
                    source(src="/audio/clock.mp3" type="audio/mp3")
                audio(id="bonusTimeAudio" controls style="display: none;")
                    source(src="/audio/bonusstart.mp3" type="audio/mp3")
                audio(id="itemSoldAudio" controls style="display: none;")
                    source(src="/audio/itemsold.mp3" type="audio/mp3")
                audio(id="nextItemAudio" controls style="display: none;")
                    source(src="/audio/nextitem.mp3" type="audio/mp3")
                audio(id="bidPlacedAudio" controls style="display: none;")
                    source(src="/audio/bidplaced.mp3" type="audio/mp3")
            
        else
            .row
            div(style='background-color: #e9e9e9 ; height:80rem; ')
                .col-12

                    div(style='overflow: auto;')
                        a(href='/' style='display: block; float: left; margin: 5px 10px;') Home
                                      a(href='/logout' style='display: block; float: right; margin: 5px 10px;') Sign out
                        a(href='/login' style='display: block; float: right; margin: 5px 10px;') Sign in
          
                        a(href='/profile' style='display: block; float: left; margin: 5px 10px;') Profile
                    h4 There is no item in the queue 
                     <div>    

                     
                     <div style='background-color:#ffffff'>
                  
                     <img  src="../uploads/auction-bids-with-auctioneer-buyers-flat-vector-illustration-isolated_181313-2683.jpeg" style=' width:90% ; margin:20px' > 
                     <div style='color:grey; padding:20px '>
                     <h2> ❗ Auction </h2> 
                     <p>An auction is a sales event wherein potential buyers place competitive bids on assets or services either in an open or closed format. Auctions are popular because buyers and sellers believe they will get a good deal buying or selling assets.</p>
                     <h2>❗ Bidding</h2>
                     <p>Bidding is an offer (often competitive) to set a price tag by an individual or business for a product or service or a demand that something be done. Bidding is used to determine the cost or value of something.</p>
                      <h2>❗ Zero cost</h2>
                     <p>Hassle free and includes no additional cost. we are here to act like an link between buyer and seller.</p>
                     <h2>❗ Easy to use</h2>
                     <p>just in few steps you are redy to bid.</p>
                     <p>Note: ❌ Avoid Malpractice.</p>
                     </div>
                                             
                     </div>
                     <button  style='border-radius:20px ;color:blue; padding:2px 30px ;margin:10px auto; transition-duration: 0.4s;' type="button" onclick="alert('Bid Wisely ! It is one stop platforn for Selling and Buying things Wisely  with No partiality. Any malpractice would lead to block on the user.')"> Read Me!</button>
</div>
    if !noItem
        script(src='/scripts/vueapp.js')
        script(src='/scripts/jquery.js')
        script(src='/scripts/script.js')






